body {
    background: url('../images/baseball_field.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: Arial, sans-serif;
}
.form-container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.form-label, input::placeholder {
    color: white;
}
.form-control {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}
.btn-primary {
    background-color: #28a745;
    border-color: #28a745;
}
.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}
h1 {
    font-weight: bold;
    color: #fff;
}
p {
    color: #ccc;
}
.alert-danger p {
    color: #795e5e;
}