@import url('./layout.css');
@import url('./widgets.css');
@import url('./responsive.css');
@import url('./animations.css');
@import url('./buttons.css');
@import url('./profile.css');
@import url('./images.css');

/* Team Content */
.teams-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

/* Adaptability */
@media (max-width: 1024px) {
    .top-row, .bottom-row {
        grid-template-columns: 1fr;
    }
}