<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/buttons.css}" />
</head>
<body>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center mb-4">Login</h1>
            <div th:if="${param.error}" class="alert alert-danger text-center">
                Invalid username or password
            </div>
            <div th:if="${param.logout}" class="alert alert-success text-center">
                You have been logged out successfully!
            </div>

            <div th:if="${successMessage != null}" class="alert alert-success text-center">
                <p th:text="${successMessage}"></p>
            </div>

            <form th:action="@{/login}" method="post">
                <input type="hidden"  />
                <div class="mb-3">
                    <input
                            type="text"
                            class="form-control"
                            id="username"
                            name="username"
                            placeholder="Enter your username"
                            required />
                </div>
                <div class="mb-3">
                    <input
                            type="password"
                            class="form-control"
                            id="password"
                            name="password"
                            placeholder="Enter your password"
                            required />
                </div>
                <button type="submit" class="btn btn-primary w-100">Login</button>
            </form>

            <div class="text-center">
                <a th:href="@{/register}" class="btn btn-secondary w-100">Register</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>